# ~/.config/systemd/user/hypridle.service
[Unit]
Description=Hypridle daemon
After=graphical-session.target

[Service]
ExecStart=/usr/bin/hypridle
Restart=always

[Install]
WantedBy=default.target

