/* ### GLOBAL STYLES ### */

* {
  border: none;
  border-radius: 10px;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

#window,
#workspaces,
#submap-indicator,
#network,
#pulseaudio,
#temperature,
#power-profiles-daemon,
#battery,
#backlight,
#keyboard-state,
#clock,
#cpu,
#memory,
#tray,
#custom-power,
#custom-wallpaper,
#custom-updates,
#custom-clipboard {
  margin-top: 6px;
  border-radius: 10px;
  transition: none;
}

#pulseaudio,
#temperature,
#power-profiles-daemon,
#battery,
#backlight,
#keyboard-state,
#clock,
#memory,
#cpu,
#tray,
#custom-launcher,
#custom-power,
#custom-wallpaper,
#custom-updates,
#custom-clipboard {
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
}

#window {
  padding-left: 10px;
  padding-right: 10px;
  color: transparent;
  background: transparent;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* ### Workspaces styles ### */

#workspaces {
  margin-left: 12px;
  font-size: 4px;
  margin-bottom: 0px;
  background: #161320;
  opacity: 0.8;
}

#workspaces button {
  transition: none;
  color: #b5e8e0;
  background: transparent;
  font-size: 16px;
  border-radius: 2px;
}
#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #fae3b0;
  border-color: #e8a2af;
  color: #e8a2af;
}

#workspaces button.active {
  transition: none;
  color: #f28fad;
  background: transparent;
  font-size: 4px;
}

#workspaces button.urgent {
  color: #abe9b3;
  border-top: 2px solid #abe9b3;
  border-bottom: 2px solid #abe9b3;
}
#workspaces button.urgent:hover {
  color: #e8a2af;
}

#submap {
  font-size: 20px;
  margin-left: 12px;
  padding-left: 3px;
  padding-right: 8px;
  color: #f28fad;
  background: #161320;
  opacity: 0.6;
}

/* ### MODULES STYLES ### */

/* ? LEFT ? */

/* <custom-launcher> module */

#cpu {
  color: #161320;
  background: #96cdfb;
}

#memory {
  color: #161320;
  background: #ddb6f2;
}

#temperature {
  background-color: #ee9c58;
}
#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  color: #b5e8e0;
  background: #4b3c7d;
}

/* ? RIGHT ? */

/* <custom-updates> module */

#backlight {
  color: #161320;
  background: #f8bd96;
}

#pulseaudio {
  color: #1a1826;
  background: #fae3b0;
}

#keyboard-state {
  background: #727a87;
  min-width: 2px;
  color: #ffffff;
  padding-left: 0px;
  padding-right: 0px;
}
#keyboard-state > label {
  padding-left: 10px;
  padding-right: 15px;
}
#keyboard-state > label.locked {
  background: #323438;
}

#clock {
  color: #161320;
  background: #abe9b3;
}

#power-profiles-daemon {
  padding-right: 15px;
  color: #ffffff;
}
#power-profiles-daemon.performance {
  background-color: #ee9c58;
}
#power-profiles-daemon.balanced {
  background-color: #548fb6;
}
#power-profiles-daemon.power-saver {
  background-color: #78e2a4;
  color: #161320;
}

#battery {
  color: #161320;
  background: #b5e8e0;
}
#battery.charging,
#battery.plugged {
  color: #161320;
  background-color: #b5e8e0;
}
#battery.critical:not(.charging) {
  background-color: #bf616a;
  color: #161320;
}

/* <custom-power> module */

/* ### CUSTOM MODULES STYLES ### */

#custom-launcher {
  font-size: 24px;
  margin-top: 6px;
  padding-right: 5px;
  border-radius: 10px;
  transition: none;
  color: #89dceb;
  background: #161320;
}

#custom-wallpaper {
  color: #161320;
  background: #c9cbff;
}

#custom-updates {
  color: #161320;
  background: #e8a2af;
  padding-left: 8px;
  padding-right: 5px;
}

#custom-clipboard {
  color: #ffffff;
  background: #727a87;
  padding-right: 13px;
}

#custom-power {
  font-size: 30px;
  margin-right: 8px;
  color: #161320;
  background: #f28fad;
}

#menu {
  border-radius: 8px;
  background-color: #1e1e2e;
  color: #cdd6f4;
  padding: 5px;
}
#menuitem {
  padding: 5px 10px;
  border-radius: 4px;
}
#menuitem:hover {
  background-color: #313244;
}
